$primary-color-dark:   #455A64;
$primary-color:        #607D8B;
$primary-color-light:  #CFD8DC;
$primary-color-text:   #FFFFFF;
$accent-color:         #FF5252;
$primary-text-color:   #212121;
$secondary-text-color: #727272;
$divider-color:        #B6B6B6;

body {
  margin: 0px;
  -webkit-font-smoothing: antialiased;
  color: $secondary-text-color;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.app-wrap {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-header {
  padding: 10px;
  color: $primary-color-text;
  background-color: $primary-color;
  height: 80px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  // border-top: 15px solid $primary-color-dark;
  flex-shrink: 0;//让自动缩小宽度失效
  display: flex;
  align-items: center;// 让子元素垂直居中
  justify-content: space-between;
  a {
    color: $primary-color-text;
    font-size: 11px;
  }
  .button {
    //  background: rgba(0, 0, 0, 0.1);
    background-color: $accent-color;
    color: primary-color-text;
    padding: 10px 15px;
    border-radius: 4px;
  }
}

.app-header>* {
  // border: 1px solid red;
}

.content {
  background-color: #fafafa;
  line-height: 1.8;
  padding: 16px;
  overflow-y: scroll;
  flex-grow: 1;
}

.app-footer {
  // height: 30px;
  background-color: $primary-color;
  box-shadow: 0 -2px 6px rgba(0,0,0,0.2);
  flex-shrink: 0;
  display: flex;

  a {
    padding: 15px;
    text-align: center;
    color: $primary-color-light;
    flex-grow: 1;
    text-emphasis: none;
    border-left: 2px solid $primary-color-dark;
    &:first-child {
      border-left: none;
    }
    i {
      display: block;
      text-shadow: 3px 3px 0 $primary-color-dark;
      color: $primary-color-text;
      font-size: 25px;
      padding-bottom: 10px;
    }
  }
}
