body {
  margin: 0px;
  -webkit-font-smoothing: antialiased;
  color: #727272; }

* {
  box-sizing: border-box; }

a {
  text-decoration: none; }

.app-wrap {
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.app-header {
  padding: 10px;
  color: #FFFFFF;
  background-color: #607D8B;
  height: 80px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .app-header a {
    color: #FFFFFF;
    font-size: 11px; }
  .app-header .button {
    background-color: #FFC108;
    color: primary-color-text;
    padding: 10px 15px;
    border-radius: 4px; }

.content {
  background-color: #fafafa;
  line-height: 1.8;
  padding: 16px;
  overflow-y: scroll;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.app-footer {
  background-color: #607D8B;
  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.2);
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .app-footer a {
    padding: 15px;
    text-align: center;
    color: #CFD8DC;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-text-emphasis: none;
            text-emphasis: none;
    border-left: 2px solid #455A64; }
    .app-footer a:first-child {
      border-left: none; }
    .app-footer a i {
      display: block;
      text-shadow: 3px 3px 0 #455A64;
      color: #FFFFFF;
      font-size: 25px;
      padding-bottom: 10px; }
    .app-footer a:hover {
      border-bottom: 4px solid #FFC108; }
  .app-footer a.active {
    border-bottom: 4px solid #FFC108; }
